@import url("https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/bg.jpg");
  background-size: cover;

}

/* navbar css starts here  */
.bg-light {
  top: 1%;
  background-image: linear-gradient(120deg,  
  hsl(201, 79%, 48%),
  hsla(195, 54%, 68%, 0.933));
  border-radius: 43px;
  display: flex;
  width: 98%;
  margin: auto;
}

.navbar-brand {
  font-family: 'Times new roman';
  font-size: 2.5rem;
  color: #fafcff !important;
}

.nav-link {
  color: #f2f5f9 !important;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-link:hover {
  background-color: #084c67;
  border-radius: 150px;
}
.navbar-brand img {
  width: 50px;
  height: 70px;
}
/* navbar css ends here  */

.container table {
  line-height: 8px;
  width: 930px;
  position: absolute;
  top: 150px;
  left:590px;
}

.container {
  margin-left: 0px;
}
.my-info {
  padding: 3rem 5rem;
  border-width: thick;
  background-color: #96ceefd4;
  text-decoration: dashed;
  width: 480px;
  height: 200px;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 190px;
  border-radius: 20px;
}
.my-info h2 {
  font-size: 1.5em;
  font-family: "Domine", serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.my-info h4 {
  font-family: "Patua One", cursive;
  font-size: 1em;
  color: rgba(2, 21, 44, 0.675);
}

.btn-info {
  padding: 1rem 1.2rem;
  background-color: rgb(78, 187, 223) !important;
  color: #fff !important;
  margin-left: 5px;
  padding: 0.75rem;
  transition: all 0.3s;
}

.btn-info:hover {
  background-color: rgb(67, 83, 230) !important;
}